[core]
	editor = vim
	autocrlf = input

[user]
	name = Oleg Kainov
	email = kainov.oleg@gmail.com
	#signingkey = AAAAAA

#[commit]
#	gpgsign = true

[color]
	ui = true

[color "decorate"]
	tag = green

[alias]
	# Basic commands
	a = add
	br = branch
	co = checkout
	cp = cherry-pick
	st = status

	# Diff
	df = diff
	diffc = diff --cached
	dfc = diff --cached

	# Commit
	cm = commit # -s
	ca = commit --amend
	can = commit --amend --no-edit

	# Rebase
	ri = rebase -i
	ra = rebase --autostash
	ria = rebase -i --autostash

	# Log
	logcolor = log --decorate
	last = log -1
	graph = log --graph --decorate --oneline --all --format=format:'%C(yellow)%h %ad%C(auto)%d %C(reset)%s%C(magenta dim) [%an]' --date=short
	lds = log --pretty=format:'%C(yellow)%h %ad%C(auto)%d %C(reset)%s%C(magenta dim) [%an]' --date=short --decorate


	# List of git aliases
	la = "!git config -l | grep alias | cut -c 7-"

	d = difftool
	ps = push -u

[sequence]
	editor = rebase-editor

[gitreview]
	remote = origin

[receive]
	denyCurrentBranch = warn